//COLORS
$colorOne:#490fa1;
$colorTwo: #525bf9;

$textColorMain: #eee;
$textColorLight: #8E8883;

$colorBlack: #000;
$colorWhite: #fff;


$break-verySmall: 300px;
$break-small: 480px;
$break-medium: 900px;
$break-big: 1100px;


// @media screen and (max-width: $break-medium){
//     font-size: 50%; //1rem = 8px
// }

// @media screen and (max-width: $break-small){
//     font-size: 37.5%; //1rem = 6px
// }

// @media screen and (min-width: $break-big){
//     font-size: 37.5%; //1rem = 6px
// }