//COLORS
$colorOne:#490fa1;
$colorTwo: #525bf9;

$textColorMain: #eee;
$textColorLight: #8E8883;

$colorActual: #2DEB3A;
$colorActualMin: #4cec57;
$colorActualMax: #22b42c;
$colorForecast: #FF4901;
$colorForecastMin: #ff6325;
$colorForecastMax: #f04908;
$colorForecastDaily: #ff6e35;
$colorForecastWeekly: #a52f00;
$colorMoonPhase: #525bf9;



$colorBlack: #000;
$colorWhite: #fff;
$colorGrey: #555;


$break-verySmall: 300px;
$break-small: 480px;
$break-medium: 900px;
$break-big: 1100px;


//CHART SETTING
$gridlinesColor: #C0C0BB;
$tickColor: #C0C0BB;


// @media screen and (max-width: $break-medium){
// }

// @media screen and (max-width: $break-small){
// }

// @media screen and (min-width: $break-big){
// }

