.header{
    margin: 1rem 0;

    &__title{
        display: block;
        text-align: center;
    }

}

.footer{
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    @media screen and (max-width: $break-small){
        flex-direction: column;
    }


    &__author{
        font-size: 1.5rem;
        order: 2;
    }

    &__logo{
        order: 1;
    }

}

.info{
    height: auto;
    margin: 1rem 0;

    &--show{
    }


    &__button{
        width: 100%;
        height: 3rem;
        margin-bottom: 10px;
    }

    &__textBox{
        transform: scaleY(0);
        background: rgba($colorBlack, .5);
        transition: all .2s linear;

        &--show{
            transform: scaleY(1);
        }
    }

    &__paragraph{
        padding: 10px;
        font-size: 1.5rem;
    }

}

.block{
    padding: 5px;

    &__title{
        height: 15%;
        width: 100%;
        text-align: center;
    }   

    &__controller{
        height: 10%;

        display: flex;
        justify-content: space-around;
    }

    &__button{
        width: 40%;
    }

    &__chart{
        height: 75%;
    }
}

.button{
    // width: 8rem;
    // height: 3rem;
    
    background-color: rgba($colorWhite,.2);
    border-radius: 10%;

    &:active{
        transform: translate(0, 2px);
    }

}

.heading{
    text-shadow: 1px 1px 10px $colorBlack;

    &--one{
        letter-spacing: 1rem;
        font-size: 5rem;
    }

    &--two{
        letter-spacing: .2rem;
        font-size: 2rem;
    }
}
