.header{
    margin: 1rem 0;

    &__title{
        display: block;
        text-align: center;
        font-size: 5rem;
        letter-spacing: 1rem;
        text-shadow: 1px 1px 10px $colorBlack;
    }

}

.footer{
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    @media screen and (max-width: $break-small){
        flex-direction: column;
    }


    &__author{
        font-size: 1.5rem;
        order: 2;
    }

    &__logo{
        order: 1;
    }

}

.info{
    margin: 1rem 0;

    &__button{
    }

    &__textBox{
        // max-height: 0rem;
        
        transform: scaleY(0);
        background: rgba($colorBlack, .5);
        
        transition: all .5s;


        &--show{
            // max-height: 6rem;
            transform: scaleY(1);
        }
    }

    &__paragraph{
        padding: 10px;
        font-size: 1.5rem;
        transform: scaleY(0);

        &--show{
            transform: scaleY(1);
        }
    }

}

.button{
    width: 8rem;
    height: 3rem;
    
    background-color: rgba($colorWhite,.2);
    border-radius: 10%;

    &:active{
        transform: translate(0, 2px);
    }

}